#!/usr/bin/env python
PACKAGE = "example_package"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("R_xx", double_t, 0, "R(0,0)", 1e-5, 0, 1)
gen.add("R_yy", double_t, 0, "R(1,1)", 1e-5, 0, 1)
gen.add("R_tt", double_t, 0, "R(2,2)", 1e-3, 0, 1)
gen.add("Q_xx", double_t, 0, "Q(0,0)", 1e-4, 0, 1)
gen.add("Q_yy", double_t, 0, "Q(1,1)", 1e-4, 0, 1)
gen.add("Q_tt", double_t, 0, "Q(2,2)", 1e-4, 0, 1)

exit(gen.generate(PACKAGE, "example_package", "ExtendedKalmanFilter"))

# The following were the initial values in the previous configuration:
# gen.add("R_xx", double_t, 0, "R(0,0)", 1e-5, 0, 1)
# gen.add("R_yy", double_t, 0, "R(1,1)", 5e-6, 0, 1)
# gen.add("R_tt", double_t, 0, "R(2,2)", 2e-3, 0, 1)
# gen.add("Q_xx", double_t, 0, "Q(0,0)", 3e-4, 0, 1)
# gen.add("Q_yy", double_t, 0, "Q(1,1)", 5e-4, 0, 1)
# gen.add("Q_tt", double_t, 0, "Q(2,2)", 3e-5, 0, 1)