#!/usr/bin/env python
PACKAGE = "example_package"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("sigma_pos", double_t, 0, "Position measurement noise stddev", 0.005, 0.0001, 2.0)
gen.add("sigma_theta", double_t, 0, "Orientation measurement noise stddev", 0.002, 0.0001, 3.14)

exit(gen.generate(PACKAGE, "example_package", "ParticleFilter"))