<launch>
    <rosparam file="$(find example_package)/config/goals.yaml"
        command="load"/>
    <include file="$(find gazebo_ros)launch/empty_world.launch">
        <arg
            name="world_name"
            value="$(find example_package)/world/playground.world"/>
        <arg
            name="gui"
            value="false"/>
        <arg
            name="use_sim_time"
            value="true"/>
        <arg
            name="paused"
            value="false"/>
    </include>

    <!-- Robot description -->
    <param
        name="robot_description"
        command="$(find xacro)/xacro --inorder $(find example_package)/urdf/turtlebot3_burger_for_autorace_custom.urdf.xacro"/>
    <node
        pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_sdf"
        args="-urdf -model turtlebot3_burger -x 0 -y 0 -z 0 -Y 0 -param robot_description"/>
    <!-- Arguments -->
    <arg
        name="model"
        default="burger"
        doc="model type [burger, waffle, waffle_pi]"/>
    <arg
        name="map_file"
        default="$(find example_package)/maps/my_map.yaml"/>
    <arg
        name="open_rviz"
        default="true"/>
    <arg
        name="move_forward_only"
        default="false"/>

    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg
            name="model"
            value="$(arg model)"/>
    </include>

    <!-- Map server -->
    <node
        pkg="map_server"
        name="map_server"
        type="map_server"
        args="$(arg map_file)"/>
  
  <!-- Map server node (publishes a static map) -->
  <!-- <node pkg="map_server" type="map_server" name="map_server_2" args="$(find example_package)/maps/my_map.yaml" >
    <remap from="map" to="my_custom_map"/>
  </node> -->

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="map_to_odom"
        args="0 0 0 0 0 0 map odom 100"/>
    <node
        pkg="tf"
        type="static_transform_publisher"
        name="base_scan_to_base_link"
        args="0 0 0 0 0 0 base_link base_scan 100"/>
  <!-- AMCL -->
  <!-- <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/> -->
  

    <!-- move_base -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg
            name="model"
            value="$(arg model)"/>
        <arg
            name="move_forward_only"
            value="$(arg move_forward_only)"/>
    </include>

    <!-- Gmapping SLAM node -->
  <!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" /> -->

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node
            pkg="rviz"
            type="rviz"
            name="rviz"
            required="true"
            args="-d $(find example_package)/config/config_with_navigation.rviz"/>
    </group>
    <node
        pkg="example_package"
        type="publish_goals"
        name="publish_goals"/>
    <node
        pkg="example_package"
        type="ground_truth_publisher.py"
        name="ground_truth_publisher"/>
    <node
        pkg="laser_scan_matcher"
        type="laser_scan_matcher_node"
        name="laser_scan_matcher">
        <param
            name="publish_tf"
            value="false"/>
        <param
            name="publish_pose_stamped"
            value="true"/>
        <remap
            from="/pose_stamped"
            to="/laser_scan_matcher/pose_stamped"/>
    </node>
    <node
        pkg="example_package"
        type="laser_scan_matcher_publisher.py"
        name="laser_scan_matcher_publisher"/>
    <!-- <node
        pkg="example_package"
        type="kalman_filter_node"
        name="kalman_filter_node"
        launch-prefix="xterm -e"/> -->
    <!-- <node
        pkg="example_package"
        type="extended_kalman_filter_node"
        name="extended_kalman_filter_node"
        launch-prefix="xterm -e"/> -->
    <node
        pkg="example_package"
        type="particle_filter_node"
        name="particle_filter_node"
        launch-prefix="xterm -e"/>
    <node
        pkg="example_package"
        type="noisy_odometry_publisher"
        name="noisy_odometry_publisher"
        output="screen"/>

</launch>